attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==3.0.4
idna==2.10
loguru==0.5.3
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
requests==2.26.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.26.5
wcwidth==0.2.5