atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mock==2.0.0
more-itertools==4.3.0
pbr==5.1.1
pluggy==0.8.0
py==1.7.0
pytest==4.0.1
pytest-requests==0.2.0
pytest-runner==4.2
requests==2.20.1
requests-mock==1.5.2
six==1.11.0
SRL==0.1.0
urllib3==1.24.1
Werkzeug==0.14.1
